keras~=3.0.5
tensorflow~=2.16.1
pytest~=7.4.0
lxml~=4.9.3
beautifulsoup4~=4.12.2
soupsieve~=2.5
numpy~=1.26.4
pathlib~=1.0.1
cffi~=1.16.0
defusedxml~=0.7.1
typing_extensions~=4.9.0
future~=0.18.3
pillow~=10.2.0
ipython~=8.20.0
zlib~=1.2.13
jupyter~=1.0.0
pip~=23.3.1
panel~=1.3.8
attrs~=23.1.0
distro~=1.8.0
wheel~=0.41.2
openssl~=3.0.13
cryptography~=42.0.2
docutils~=0.18.1
sphinx~=5.0.2
tornado~=6.3.3
jinja2~=3.1.3
filelock~=3.13.1
pyasn1~=0.4.8
pyzmq~=25.1.2
colorama~=0.4.6
pexpect~=4.8.0
setuptools~=68.2.2
comm~=0.1.2
traitlets~=5.7.1
gast~=0.5.4
h5py~=3.10.0
parso~=0.8.3
jedi~=0.18.1
regex~=2023.10.3
torchvision~=0.17.1
tifffile~=2023.4.12
qtpy~=2.4.1
packaging~=23.1
rich~=13.3.5
pygments~=2.15.1
requests~=2.31.0
dask~=2023.11.0
ipywidgets~=7.6.5
notebook~=7.0.8
wrapt~=1.14.1
yaml~=0.2.5
pyyaml~=6.0.1
yapf~=0.31.0
importlib_metadata~=7.0.1
sniffio~=1.3.0
arrow~=1.2.3
python-dateutil~=2.8.2
babel~=2.11.0
pytz~=2023.3.post1
gettext~=0.21.0
six~=1.16.0
scipy~=1.11.4
pandas~=2.1.4
mdurl~=0.1.0
namex~=0.0.7
overrides~=7.4.0
numba~=0.59.0
mypy~=1.8.0
matplotlib~=3.8.0
blas~=1.0
mpmath~=1.3.0
sympy~=1.12
platformdirs~=3.10.0
gmpy2~=2.1.2
python~=3.11.7
decorator~=5.1.1
tabulate~=0.9.0
multipledispatch~=0.6.0
distributed~=2023.11.0
astunparse~=1.6.3
dill~=0.3.7
conda~=24.1.2
tensorboard~=2.16.2
tqdm~=4.65.0
psutil~=5.9.0
urllib3~=2.0.7
fsspec~=2023.10.0
webencodings~=0.5.1
bleach~=4.1.0
tinycss2~=1.2.1
snappy~=1.1.10
lz4~=4.3.2
zstandard~=0.19.0
aiohttp~=3.9.3
yarl~=1.9.3
ujson~=5.4.0
libarchive~=3.6.2
cachetools~=4.2.2
certifi~=2024.2.2
markupsafe~=2.1.3
debugpy~=1.6.7
flask~=2.2.5
greenlet~=3.0.1
sqlalchemy~=2.0.25
stack_data~=0.2.0
pickleshare~=0.7.5
jupyter_client~=8.6.0
prompt_toolkit~=3.0.43
wcwidth~=0.2.5
markdown~=3.4.1
ptyprocess~=0.7.0
twisted~=23.10.0
pycurl~=7.45.2
termcolor~=2.4.0
nbformat~=5.9.2
jupyter_core~=5.5.0
nbclient~=0.8.0
jsonschema~=4.19.2
networkx~=3.1
jupyter_server~=2.10.0
jupyterlab~=4.0.11
jupyterlab_server~=2.25.1
blinker~=1.6.2
werkzeug~=2.2.3
asttokens~=2.0.5
astroid~=2.14.2
contourpy~=1.2.0
bokeh~=3.3.4
executing~=0.8.3
fonttools~=4.25.0
freetype~=2.12.1
ipykernel~=6.28.0
nbconvert~=7.10.0
pandocfilters~=1.5.0
mistune~=2.0.4
jupyterlab_pygments~=0.1.2
pure_eval~=0.2.2
ply~=3.11
pycparser~=2.21
pyparsing~=3.0.9
qtconsole~=5.4.2
websocket-client~=0.58.0
terminado~=0.17.1
readline~=8.2
referencing~=0.30.2
idna~=3.4
jsonpointer~=2.1
cycler~=0.11.0
kiwisolver~=1.4.4
send2trash~=1.8.2
zipp~=3.17.0
flatbuffers~=24.3.7
tblib~=1.7.0
botocore~=1.31.64
click~=8.1.7
jupyter_events~=0.8.0
validators~=0.18.2
prometheus_client~=0.14.1
jupyter_server_terminals~=0.4.4
anyio~=4.2.0
jupyter_console~=6.6.3
json5~=0.9.6